html {
    font-family: 'Montserrat', sans-serif;
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    background-image: url("../static/assets/ui/QuizBackground.png");
}


.form__container {
    display: flex;
    width: 80%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    /* margin-top: 150px; */
    border-radius: 5px;
    /* box-shadow: 0px 0px 14px 0px #FF0000;  */
    color: #fff;
    ;
    flex-wrap: wrap;
    font-weight: thin;
    justify-content: space-around;
    align-items: center;

}

.header__container {
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    text-align: center;
    font-size: 3rem;
}

.gameover__header {
    width: 100%;
    text-align: center;
    font-size: 3rem;
}

.form__holder {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 10px;
    text-align: center;
    font-size: 3rem;

}

.providename__text {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.name__form {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
    margin: 10px;
}

.submit__button {
    background-color: #FF0000;
    color: white;
    margin: 10px;
    padding: 10px;
    font-weight: bold;
    border-radius: 5px;
    border: #FF0000 solid 0px;
    box-shadow: 0px 0px 10px 3px #FF0000;
}

.submit__button:hover {
    box-shadow: 0px 0px 10px 5px #FF0000;
    color: #FF0000;
    background-color: #FFF;
}

.insert__name {
    width: 212px;
    height: 26px;
    border: #BBB solid 2px;
    border-radius: 5px;
}

.insert__name:focus {
    box-shadow: 0px 0px 10px 3px #BBB;
}

.menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    height: 60%;
    background: #fff;
    box-shadow: 0 4px 4px rgba(0, 0, 0, .25), 4px 4px 40px rgba(255, 0, 0, .9);
    border-radius: 16px;
}

.menu__button {
    background-color: #fff;
    border: none;
    font-style: normal;
    font-weight: 600;
    font-size: 2rem;
    text-transform: capitalize;
}

.menu__button:focus {
    padding-bottom: .5rem;
    border-bottom: 6px solid rgba(255, 0, 0, .5);
    border-radius: 4px;
}

.timerView {
    margin-top: 2%;
    height: 10rem;
    display: grid;
    justify-items: stretch;
    justify-content: center;
    align-content: center;
    grid-template-columns: 1fr;
    grid-template-rows: 3fr 2fr;
    margin-left: 2rem;
    margin-right: 1rem;
}

.lightsaberView {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr;
    padding-left: 3rem;
    padding-right: 2rem;
    align-items: center;
    justify-content: center;
}

.lightsaberWraper {
    display: flex;
    align-items: center;
    height: 2vw;
    transform: translateX(-2rem);
}

.imgLightsaberView {
    display: grid;
    height: 100%;
    width: 100%;
    background-image: url(LightsaberHandle.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center right;
    justify-self: right;
}

.lightsaber {
    width: 100%;
    height: 100%;
    background: #BCBCBC;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}

.pathLightsaber {
    width: 100%;
    height: 100%;
    background-color: rgb(250, 246, 246);
    box-shadow: 10px 5px 15px red, 10px -5px 15px red, inset 0 5px 4px rgba(255, 0, 0, .25);
    border-radius: 15px;
}

.countingDown {
    display: flex;
    font-weight: 800;
    font-size: clamp(2rem, 2vw, 5rem);
    color: rgba(255, 0, 0, 0.63);
    text-shadow: 0 4px 4px rgba(0, 0, 0, .25), 4px 4px 40px rgba(255, 0, 0, .9);
    text-align: center;
    letter-spacing: .2rem;
    justify-content: center;
}

@media (max-width:800px) {
    .imgLightsaberView {
        width: 8rem;
        transform: translateX(-1.5rem);
    }

    .lightsaberWraper {
        height: 1.4rem;
    }
}

@media (max-width:500px) {
    .imgLightsaberView {
        width: 6rem;
        transform: translateX(-1.5rem);
    }

    .lightsaberWraper {
        height: 1.1rem;
    }
}


.quiz__holder {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    min-height: 700px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.images__holder {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 20vw;
    margin: 20px;
}

.logo__sw {
    width: 100%;
}

.question__image {
    width: 100%;

    box-shadow: 0px 0px 14px 0px #FF0000;

}

.question__container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 3fr;
    margin-top: 20%;
    grid-gap: 100px;
    margin: 20px;
    width: 1000px;
    align-self: center;
}


.question__text {
    width: 100%;
    height: auto;
    /* border: 1px solid black; */
    box-shadow: 0px 0px 14px 0px #FF0000;
    border-radius: 5px;
    align-self: center;
    padding: 10px;
    display: block;
    background-color: #fff;
    text-align: center;
    /* align-self: end; */


}

.answers__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
    row-gap: 40px;
    margin-top: auto;
    margin-bottom: auto;
    justify-self: stretch;
    align-self: flex-end;
}

.btn {
    background: #fff;
    padding: 10px;
    border-radius: 5px;
    height: 70px;
    align-self: stretch;
    justify-self: stretch;
    width: 100%;
    font-size: 3rem;
}

.btn:hover {

    box-shadow: 0px 0px 14px 0px #FF0000;
}

@media (max-width:700px) {
    .images__holder {
        justify-content: space-between;
        width: 50vw;
    }

}